body {
    background-color: silver;
    display: grid;
    grid-template-columns: 90px 720px;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    gap: 30px;
    padding: 50px calc(50% - 420px);
}
.dashboard {
    background-color: #dedede;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.container {
    background-color: #dedede;
    border-radius: 8px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    align-content: flex-start;
    box-sizing: border-box;
}
.btn {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 silver;
}
.card {
    box-shadow: 0 0 5px 0 silver;
    border-radius: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: 70px auto;
    gap: 14px 20px;
}
.card>.pic {
    width: 70px;
    /* height: 70px; */
    background-color: silver;
    border-radius: 8px;
    grid-row-end: span 2;
}
.card>.name {
    grid-column-end: span 2;
    font-size: 24px;
}
.card>.age {
    font-size: 2rem;
    justify-self: center;
}
.card>.rate {
    font-size: 14px;
    display: flex;
    justify-self: center;
}