.card {
    border: 1px solid #ffe44d;
    border-radius: 8px;
    padding: 8px;
    display: grid;
    gap: 10px;
}
.card__img {
    height: 120px;
    background: no-repeat center / contain;
}
.card__price {
    font-weight: 800;
}
.card__text {
    font-size: 12px;
}
.btn {
    width: max-content;
    border: none;
    border-radius: 30px;
    padding:  8px 12px;
    font-weight: 700;
    background-color: #ffe44d;
    height: max-content;
    align-self: flex-end;
}